<a href="https://colab.research.google.com/github/atulnath/Python-For-Coding-Interview/blob/main/python_for_coding_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 0

In [ ]:
print('n: ', n)

n:  0

In [ ]:
n = "abc"

In [ ]:
print("abc")

abc

In [ ]:
a, b = 0, 1
print("a: ", a, "b: ", b)

a:  0 b:  1

In [ ]:
x, y = 1, "XYZ"
print("Y: ", y)

Y:  XYZ

In [ ]:
i = 0
i = i + 1
print(i)
i += 2
print(i)

1
3

In Python None is used instead of null like in c type language

In [ ]:
output = None
print(output)

None

No paranthsis needed for if statement, except multiline if statement, indentation will work as carly braces

In [ ]:
num = 5
if num > 10:
  print("Number is grater than 10")
elif num < 6:
  print("Number is less than 6")
else:
  print("No conditions executed")

Number is less than 6

Checking equality is python

In [ ]:
isTrue = True
if isTrue == True:
  print("True")
if isTrue is not False:
  print("True")
if isTrue:
  print("True")

True
True
True

For multiple condition we can put parenthesis

In [ ]:
a , b = 4,5

if (a == 4 and b == 5
  and a%2 == 0):
  print("This is multiple conditin with parenthesis")

This is multiple conditin with parenthesis

We write in python: && as and, || as or

# **Lets do the while Loop**

In [ ]:
n = 5
while n > 0:
  print(n)
  n -=1

5
4
3
2
1

In the previous code n-- is not allowed to use instead we can use n-=1, or n = n-1

# **All about for loop:**

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,5):
  print(i)

2
3
4

In [ ]:
for i in range(6,2,-1):
  print(i)

6
5
4
3

/ → normal division (float).

// → floor division, rounds down
Python modulas always satisfy : a=(a//b)×b+(a%b)

In [ ]:
print(5/2)
print(5//2)
print(-5/2)
print(-5//2)
print(10%3)
print(-10%3)

2.5
2
-2.5
-3
1
2

Important Math function:
math.floor ->
math.ceil ->
math.sqrt ->
math.pow ->
float("inf") -- Maximum number ->
float("-inf") -- Minimum number

In [ ]:
import math

print(math.pow(2,5))

32.0

# **Array**

In [ ]:
arr = [2,4,5]
print(arr)

[2, 4, 5]

In [ ]:
values = [1,3,5,7]
values.append(9)
values.pop(3)
print(values)
values.insert(1,2)
print(values)

[1, 3, 5, 9]
[1, 2, 3, 5, 9]

In [ ]:
arr = [1] * 5
print(arr)

[1, 1, 1, 1, 1]

In [ ]:
values = [2,4,5,6]
print(values[1:3])
print(values[-1])

[4, 5]
6

Unpacking

In [ ]:
x, y, z = [1,2,3]
print(x,y,z)

1 2 3

Traversing Array

In [ ]:
SimpleArray = [2,3,4,5,6,7]
for num in SimpleArray:
  print(num)

2
3
4
5
6
7

In [ ]:
SimpleArray = [2,3,4,5,6,7]
for i in range(len(SimpleArray)):
  print(SimpleArray[i])

2
3
4
5
6
7

In [ ]:
SimpleArray = [2,3,4,5,6,7]
for i, num in enumerate(SimpleArray):
  print(i, "-> ", num)

0 ->  2
1 ->  3
2 ->  4
3 ->  5
4 ->  6
5 ->  7

In [ ]:
num1 = [2,3,4,5,6,7]
num2 = [9,10,11,12,13]

for x, y in zip(num1, num2):
  print(x,"->", y)

2 -> 9
3 -> 10
4 -> 11
5 -> 12
6 -> 13

In [ ]:
num1 = [2,4,9,6,7,3]
num1.reverse()
print(num1)

[3, 7, 6, 9, 4, 2]

In [ ]:
num1 = [2,4,9,6,7,3]
num1.sort()
print(num1)

[2, 3, 4, 6, 7, 9]

In [ ]:
num1 = [2,4,9,6,7,3]
num1.sort(reverse=True)
print(num1)

[9, 7, 6, 4, 3, 2]

String reverse with or without lamda

In [ ]:
arr= ["bob","alice","jane","doe"]
print(arr)
arr.sort()
print(arr)

['bob', 'alice', 'jane', 'doe']
['alice', 'bob', 'doe', 'jane']

In [ ]:
arr= ["bob","alice","jane","doe"]
arr.sort(key=lambda x:len(x))
print(arr)

['bob', 'doe', 'jane', 'alice']

List Comprehensions

In [ ]:
arr = [i for i in range(5)]
print(arr)

[0, 1, 2, 3, 4]

In [ ]:
arr = [[0]*4 for i in range(4)]
print(arr)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

String Operations

In [ ]:
s = "abc"
print(s[0:2])
s += "def"
print(s)

ab
abcdef

In [ ]:
print(int("123"))
print(str(123))

123
123

In [ ]:
#Ascii value
print(ord('A'))

65

String Joinings

In [ ]:
strings = ["ab", "cd", "ef"]
print("".join(strings))

abcdef

Queues

In [ ]:
from collections import deque
queue = deque()
queue.append(1) #Left 1
queue.append(2) # 1 2
print(queue) # 1 2
queue.popleft() # 2
print(queue)#2
queue.appendleft(1)#1 2
print(queue)#1 2
queue.pop()#1
print(queue)#1

deque([1, 2])
deque([2])
deque([1, 2])
deque([1])

HashSets

In [ ]:
myset = set()
myset.add(1)
myset.add(2)
print(myset)
print(len(myset))
print(1 in myset)
print(2 in myset)
print(3 in myset)
myset.remove(2)
print(2 in myset)
#List to set
print(set([1,2,3]))
#set comprehensions
myset = {i for i in range(5)}
print(myset)

{1, 2}
2
True
True
False
False
{1, 2, 3}
{0, 1, 2, 3, 4}

HashMap

In [ ]:
myMap= {}
myMap['Alice'] = 30
myMap['bob'] = 33
print(myMap)
myMap['Alice'] = 77
print(myMap['Alice'] )
print('Alice' in myMap)
myMap = {"Alice":10, "Bob": 20}
print(myMap)
#Comprehension
myMap= {i:2*i for i in range(1,6,2)}
print(myMap)

myMap = {"Alice":12, "Bob": 22}
#Key
for key in myMap:
  print(key, myMap[key])
#Values
for val in myMap.values():
  print(val)
#Key, Values
for key, val in myMap.items():
  print(key, val)

{'Alice': 30, 'bob': 33}
77
True
{'Alice': 10, 'Bob': 20}
{1: 2, 3: 6, 5: 10}
Alice 12
Bob 22
12
22
Alice 12
Bob 22

Tuples

In [7]:
tup=(1,2,3)
print(tup)
#First Element
print(tup[0])
#Last Element
print(tup[-1])

#tup[0] = -1 we can not modify like this
#Use as a key in hashmap or in set
myMap={(1,2):3}
mySet=set()
mySet.add((1,2))#Set element
print((1,2) in mySet)
#Important info is we can not use list as keys

(1, 2, 3)
1
3
True

Heaps

In [20]:
import heapq

minHeap=[]
heapq.heappush(minHeap,3)
heapq.heappush(minHeap,2)
heapq.heappush(minHeap,4)
print(minHeap)#minimum element if minHeap[0]
print("Min element is: ", minHeap[0])
print("Min Heap Traverse:")
while len(minHeap):
  print(heapq.heappop(minHeap))

maxHeap=[]
heapq.heappush(maxHeap,-3)
heapq.heappush(maxHeap,-2)
heapq.heappush(maxHeap,-4)
print("Max element is: ",-1*maxHeap[0])
print("Max Heap Traverse:")
while len(maxHeap):
  print(-1*heapq.heappop(maxHeap))
print("Heapify Values: ")
#Heapify
arr = [i for i in range(1,5)]
heapq.heapify(arr)
while len(arr):
  print(heapq.heappop(arr))

[2, 3, 4]
Min element is:  2
Min Heap Traverse:
2
3
4
Max element is:  4
Max Heap Traverse:
4
3
2
Heapify Values:
1
2
3
4

Python Functions

In [25]:
def multiply(n,m):
  return n*m
print(multiply(3,4))

#Neasted Functions

def outer(a,b):
  c = 'c'
  def inner():
    return a + b + c
  return inner()

print(outer('a','b'))

#Local change vs nolocal change
def outer_local(a,b):
  c = 'C'
  def inner():
    nonlocal a, b
    a='A'
    b='B'
    return a + b + c
  return inner()

print(outer_local('a','b'))

12
abc
ABC

Classes

In [27]:
class MyClass:
  #constractor
  def __init__(self,nums):
    self.nums = nums
    self.size = len(nums)

  def getLength(self):
    return self.size
  def doubleLength(self):
    return 2 * self.getLength()
myObj = MyClass([1,2,3])
print(myObj.getLength())
print(myObj.doubleLength())

3
6