<a href="https://colab.research.google.com/github/atulnath/Python-For-Coding-Interview/blob/main/python_practice_17_05_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
squares = []

for i in range(5):
  squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16]

**we can do it in one line using comprehensions**

In [2]:
print([ x**2 for x in range(5)])

[0, 1, 4, 9, 16]

# Slicing

In [7]:
nums = list(range(1,6))
print(nums)
print(nums[:2])
print(nums[::-1])

[1, 2, 3, 4, 5]
[1, 2]
[5, 4, 3, 2, 1]

# Swaping

In [8]:
arr=[1,2,3]
arr[0], arr[1]= arr[1],arr[0]
print(arr)

[2, 1, 3]

# Dictionary

In [10]:
count = {} #dictionary

for char in "Hello":
  count[char] = count.get(char,0)+1 #set default value if item not exist + 1
print(count)

{'H': 1, 'e': 1, 'l': 2, 'o': 1}

create dictionary using comprehensions

In [14]:
num=list(range(1,4))
print(num)

#dictionary

print({x:y for y,x in enumerate(nums)})

[1, 2, 3]
{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

# set Operations

In [21]:
s = set([1,2,2,4,5,4])
print(s)
s.add(5)
print(s)
s.remove(1)
print(s)

{1, 2, 4, 5}
{1, 2, 4, 5}
{2, 4, 5}

# String manipulation

In [29]:
s = "A1 man, a plan!"
s.isalnum()
''.join(c.lower() for c in s if c.isalnum())#remove space and only keep alphabets and numbers

'a1manaplan'

# Reverse String

In [30]:
s = "A1 man, a plan!"
s[::-1]

'!nalp a ,nam 1A'

# Counter to count

In [35]:
from collections import Counter

dicts = Counter("Hello") # return a dictionary
'o' in dicts

True

# Two Pointer Swap

In [38]:
nums = list(range(5))
print(nums)

left, right = 0, len(nums)-1

while left < right:
  nums[left], nums[right] =  nums[right] ,nums[left]
  left += 1
  right -=1
nums

[0, 1, 2, 3, 4]

[4, 3, 2, 1, 0]

# Python Built in functions

In [39]:
nums=[1,7,2,6,3]
nums.sort()
nums

[1, 2, 3, 6, 7]

In [40]:
nums=[1,7,2,6,3]
nums.sort(reverse=True)
nums

[7, 6, 3, 2, 1]

# max, min, sum

In [41]:
nums=[1,7,2,6,3]

print(max(nums))
print(min(nums))
print(sum(nums))

7
1
19

# all vs any for conditions

In [47]:
nums=[1,2,3]
print(all(x >0 for x in nums)) # are all of them is grater than 0
print(all(x >2 for x in nums)) # are all of them is grater than 0

print(any(x >0 for x in nums)) # are any of them is grater than 0
any(x >2 for x in nums) # are any of them is grater than 0

True
False
True

True

# defaultdict

In [50]:
from collections import defaultdict

d = defaultdict(int)
#avoid key existance check
d['a'] += 1
d

defaultdict(int, {'a': 1})

deques to add and remove from left and right, faster than list

In [52]:
from collections import deque

que=deque([1,2,3])
que.appendleft(7)
que.popleft()
que

deque([1, 2, 3])